<!-- Carousel-->
<carousel>
  <slide class="cslide" *ngFor="let slide of slides;">
    <img [src]="slide.image" alt="image slide">
    <div class="carousel-caption d-none d-md-block">
      <h3>{{slide.caption}}</h3>
      <p>{{slide.information}}</p>
    </div>
  </slide>
</carousel>


<div class="container">

  <div class="row well">
    <div class="col-xs-offset-1 col-xs-10">

      <div class="btn-group btn-lg btn-group-justified">
        <a class="btn btn-primary">All</a>
        <a class="btn btn-primary">Latest</a>
        <a class="btn btn-primary">Popular</a>
        <a class="btn btn-primary">My subs</a>
      </div><!--btn-group-->

      <!--Search row-->
      <div class="input-group">
        <input type="search" class="form-control" placeholder="Search">
        <span class="input-group-btn">

          <div class="btn-group" dropdown>
            <button type="button" class="btn btn-default">{{currentCategory}}</button>
            <button id="button-split" type="button" dropdownToggle
                    class="btn btn-default dropdown-toggle dropdown-toggle-split"
                    aria-controls="dropdown-split">
              <span class="caret"></span>
            </button>
            <ul id="dropdown-split" *dropdownMenu class="dropdown-menu"
                role="menu" aria-labelledby="button-split">
              <li role="menuitem" *ngFor="let category of categories" [class.active]="category === currentCategory"
                  (click)="_setCurrentCategory(category)">
                <a class="dropdown-item">{{category}}</a>
              </li>
            </ul>
          </div>

          <button class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span> Search
          </button>
        </span>
      </div><!-- /input-group-->
    </div><!--col-->
  </div><!--row-->


  <div class="row well">
    <app-subscription-form *ngFor="let sub of companySubscriptions" [subscription]="sub"
                           (onClickDetails)="_openModal(template, sub)"></app-subscription-form>
  </div><!-- /.row -->
</div>

<app-footer></app-footer>

<!-- Modal -->
<ng-template #template>

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" (click)="_closeModal()">&times;</button>
    <h4 class="modal-title">{{currentSubscription.subName}}</h4>
    <!--<p>Jet Brains</p>-->
  </div><!-- modal header -->

  <div class="modal-body">
    <div class="form-group">
      <p>Price in a day {{currentSubscription.subPrice}} $</p>
      <!--<p>Min days: 3 days</p>-->

      <div class="form-inline">
        <label>Choose period: </label>
        <div class="input-group">
          <span class="input-group-addon">#</span>
          <input type="number" class="form-control" placeholder="Enter period">
        </div>
      </div>
    </div>
  </div><!-- modal body -->

  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="_closeModal()">Close</button>
  </div>

</ng-template>

