<div class="container marketing">

  <div class="row well">

    <div class="col-md-8">
      <h2 class="header">My subscriptions</h2>
      <p>Contains information about my subscriptions</p>
      <p>Subs count: {{companySubscriptions ? companySubscriptions.length : 0}}</p>

    </div>
    <div class="col-md-4">
      <h2 class="header">Options</h2>
      <div class="form-group">
        <button type="button" class="btn btn-default btn-block"
                (click)="_openModal(template)">Create new sub
        </button>
        <button type="button" class="btn btn-default btn-block"
                (click)="_updateCompanySubscriptions()">Refresh
        </button>
      </div>
    </div>
  </div>

  <app-subscription-form *ngFor="let sub of companySubscriptions" [subscription]="sub"
                         (onClickDetails)="_openModal(template, sub)"></app-subscription-form>

</div>

<!-- Modal for company-->
<ng-template #template>

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" (click)="_closeModal()">&times;</button>
    <h4 class="modal-title">{{editMode ? "Editing" : "Creating"}} sub</h4>
  </div><!-- modal header -->

  <div class="modal-body">
    <div class="form-group">
      <label>Sub Name:</label>
      <input class="form-control" name="name" [(ngModel)]="currentSub.subName" #name="ngModel" required
             placeholder="Enter sub name">
      <label>Sub Url:</label>
      <input class="form-control" name="url" [(ngModel)]="currentSub.subUrl" #url="ngModel" required
             placeholder="Enter url">
      <label>Sub Price:</label>
      <input class="form-control" name="price" type="number" [(ngModel)]="currentSub.subPrice" #price="ngModel" required
             placeholder="Enter sub price">
      <label>Sub information:</label>
      <input class="form-control" name="information" [(ngModel)]="currentSub.subInformation" #information="ngModel"
             required
             placeholder="Enter sub information">

      <div class="form-group">
        <label>Image:</label>
        <label class="btn btn-default">
          Browse <input type="file" hidden>
        </label>
      </div>

    </div>
  </div><!-- modal body -->

  <div class="modal-footer">

    <button *ngIf="editMode" type="button" class="btn btn-default pull-left"
            (click)="_deleteCompanySubscription(currentSub.subId)">Delete
    </button>

    <button type="button" class="btn btn-default" (click)="_addCompanySubscription()">
      {{editMode ? "Save" : "Create"}}
    </button>
    <button type="button" class="btn btn-default" (click)="_closeModal()">Close</button>
  </div><!-- modal footer -->

</ng-template>



