<div class="container">

  <h4 class="header">Sub-s:</h4>

  <div class="row">
    <div class="col-md-3">
      <div class="row well">
        <p>Subscriptions: {{companySubscriptions ? companySubscriptions.length : 0}}</p>
        <button class="btn btn-default btn-block" (click)="_updateSubscription()">Refresh</button>
      </div>

      <div class="row">
        <accordion>
          <accordion-group heading="Information">
            <p>Company id: {{currentCompany.companyId}} </p>
            <p>Company name: {{currentCompany.companyName}}</p>
            <p>Company domain name: {{currentCompany.companyDomainName}}</p>
            <p>Max available sub-s: {{currentCompany.maxAmountAvailableSubs}}</p>
          </accordion-group>
        </accordion>
      </div>
    </div><!--col-md-3-->

    <div class="col-md-9">
      <table class="table table-hover">
        <thead class="">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Company Id</th>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Information</th>
          <th scope="col">Url</th>
          <th score="col">Options</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let sub of companySubscriptions" (click)="currentSubscription=sub"
            [class.active]="currentSubscription===sub">
          <td scope="row">{{sub.subId}}</td>
          <td scope="row">{{sub.companyId}}</td>
          <td scope="row">{{sub.subName}}</td>
          <td scope="row">{{sub.subPrice}}</td>
          <td scope="row">{{sub.subInformation}}</td>
          <td scope="row">{{sub.subUrl}}</td>
          <td scope="row"><button type="button" class="btn btn-default" (click)="_deleteSubscription(sub.subId)">
            Delete</button></td>
        </tr>
        </tbody>
      </table>

      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <pagination [boundaryLinks]="true" [totalItems]="50"
                      previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
          </pagination>
        </div>
      </div>

    </div><!--col-md-9-->
  </div><!--row-->
</div><!--container-->
