<div class="container">
  <div class="row">
    <div class="col">

      <div class="well">
        <div>
          <p>Billing Accounts count: {{users ? users.length : 0}}</p>
          <button class="btn btn-default" (click)="c()">Console</button>
          <button class="btn btn-default" (click)="_openModal(template)">Create new user account</button>
          <button class="btn btn-default" (click)="_updateUsers()">Update</button>
        </div>

      </div>

      <h4>User Accounts:</h4>

      <table class="table table-hover">
        <thead class="">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Username</th>
          <th scope="col">E-mail</th>
          <th scope="col">Registration Date</th>
          <th scope="col">Role</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users">
          <td scope="row">{{user.userId}}</td>
          <td scope="row">{{user.username}}</td>
          <td scope="row">{{user.userLogin}}</td>
          <td scope="row">{{user.registrationDate}}</td>
          <td scope="row">{{user.roleId}}</td>
          <td><button type="button" class="btn btn-default" (click)="_deleteUser(user.userId)">Delete</button></td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>

<!-- Modal -->
<ng-template #template>

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" (click)="_closeModal()">&times;</button>
    <p>Create new {{chooseRole}} Account</p>
  </div><!-- modal header -->

  <div class="modal-body">
    <div class="form-group">
      <label>Username:</label>
      <input class="form-control" name="username" [(ngModel)]="createdUser.username" #username="ngModel" required
             placeholder="Enter username">
      <label>Login:</label>
      <input class="form-control" name="email" [(ngModel)]="createdUser.userLogin" #email="ngModel" required
             placeholder="Enter E-mail">
      <label>Password:</label>
      <input class="form-control" name="password" type="password" [(ngModel)]="createdUser.userPassword"
             #password="ngModel" required placeholder="Enter password">
    </div>

    <div class="form-group">
      <label for="roles">Roles:</label>
      <div class="btn-group" id="roles" btnRadioGroup [(ngModel)]="chooseRole">
        <label class="btn btn-default" [btnRadio]="role"
               tabindex="0" role="button" *ngFor="let role of roles">{{role}}</label>
      </div>
    </div>

    <hr>

    <!--user data-->
    <div *ngIf="chooseRole && chooseRole.toLocaleLowerCase()==='client'">
      <div class="form-group">
        <label for="first-name">Your first name:</label>
        <input type="text" id="first-name" class="form-control" [(ngModel)]="createdClient.clientFirstName"
               placeholder="Enter first name" required>

        <label for="last-name">Your last name:</label>
        <input type="text" id="last-name" class="form-control" [(ngModel)]="createdClient.clientLastName"
               placeholder="Enter last name" required>
      </div>

      <div class="form-group">
        <label>Your birthday: </label>
        <div class="input-group">
          <input type="text"
                 placeholder="Enter birthday"
                 class="form-control"
                 bsDatepicker
                 placement="right"
                 [(ngModel)]="createdClient.clientDateBirthday">
          <span class="input-group-addon">
            <span class="glyphicon-calendar glyphicon"></span>
          </span>
        </div>
      </div>
    </div><!--user data-->

    <!--company data-->
    <div *ngIf="chooseRole && chooseRole.toLocaleLowerCase()==='company'">
      <div class="form-group">
        <label for="company-name">Company name:</label>
        <input type="text" id="company-name" class="form-control" [(ngModel)]="createdCompany.companyName"
               placeholder="Enter company name" required>
        <label for="company-domain-name">Company domain name (your ID in our system):</label>
        <input type="text" id="company-domain-name" class="form-control" [(ngModel)]="createdCompany.companyDomainName"
               placeholder="Enter company domain name" required>
        <label for="max-sub">Max available sub-s:</label>
        <input type="number" id="max-sub" class="form-control" [(ngModel)]="createdCompany.maxAmountAvailableSubs"
               placeholder="Enter max sub-s" required>
      </div>
    </div>

  </div><!-- modal body -->

  <div class="modal-footer">
    <button class="btn btn-default" (click)="c()">Console</button>
    <button type="button" class="btn btn-default" (click)="_saveUser()">Create</button>
    <button type="button" class="btn btn-default" (click)="_closeModal()">Close</button>
  </div>

</ng-template>


